.navbar{
    background-color: #131722;
    font-family: 'Montserrat Alternates', sans-serif;
}
.nav-link i {
    color: #fff;
}
.nav-link{
    font-size: 17px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-link:hover,
.nav-link i:hover{
    color: #dc3545 !important;
}
.active{
    color: #dc3545 !important;
}